# the standard serial-getty@.service is a bit too overcomplicated and
# refuses to work with rescue.target

[Unit]
DefaultDependencies=no

[Service]
# https://connolly.tech/posts/2024_04_15-broken-connections/
ExecStartPre=-bash -c 'echo " " > /dev/ttyGS0; read -r < /dev/ttyGS0'
ExecStart=-agetty --autologin root 115200 - $TERM
Type=idle
Restart=always
UtmpIdentifier=ttyGS0
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/ttyGS0
TTYReset=yes
TTYVHangup=yes
IgnoreSIGPIPE=no
SendSIGHUP=yes
