[Unit]
Before=initrd-root-fs.target
After=run-rootfs.mount
Requires=run-rootfs.mount
After=modprobe@overlay.service
Requires=modprobe@overlay.service

[Mount]
What=live
Where=/sysroot
Options=lowerdir=/run/rootfs,upperdir=/run/live-rw,workdir=/run/live-work
Type=overlay
