[Unit]
Description=USB serial gadget
After=modprobe@usbfunc:acm.service modprobe@libcomposite.service
Wants=modprobe@usbfunc:acm.service modprobe@libcomposite.service
DefaultDependencies=no

[Service]
RuntimeDirectory=usb-serial
ExecStart=/usr/bin/usb-serial-start
ExecStop=/usr/bin/usb-serial-stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=usb-gadget.target
